/* style.css */
body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
}

a:hover, a:focus {
    font-style:italic;
    color:aqua;
}

header h1 {
    font-size: 175%;
    color:maroon;
    text-indent: 30px;
}

header h2 {
    font-size: 130%;
    color:#800000;
    text-indent: 30px;
}

h3 {
    margin-left: 5px;
    margin-right: 5px;
}
header img{
    float: left;
}