/* style.css */
html{
    background-image: linear-gradient;
}
body {
    width: 1000px;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;

    margin: 15px auto auto 15px;
    padding: 15px 1.5em 1.5em 15px;
    border: 1px black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background: url(/images/Whipple_logo.jpg),url(/images/Edelbrock-Logo-Vector-scaled.jpg),url(/images/HLLY_BIG-87c8206e.png);
    background-size: 25%;
    background-attachment: fixed;
    background-position: left center right;
    
    
}

a:hover, a:focus {
    font-style:italic;
    color:aqua;
}

header h1 {
    font-size: 175%;
    color:maroon;
    text-indent: 30px;
}

header h2 {
    font-size: 130%;
    color:#800000;
    text-indent: 30px;
}

h3 {
    margin-top: 3em;
    font-size: 105%;
    margin-left: 5px;
    margin-right: 5px;
}
header img{
    float: left;
}
.shadow{
    text-shadow: 2px 2px 5px rgba(128, 0, 0, 1);
}
main{
    clear: left;
}
footer p.copyright{
    text-align: center;
    border: 1em;
    border-color: black;
    font-size: 80%;
    color: #0051ff;

}