/* style.css */
body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
}

a:hover, a:focus {
    font-style:italic;
    color:aqua;
}

h1 {
    color: blue;
    text-align: center;
}
h3{
    margin-left: 5px;
    margin-right: 5px;
}
